<div class="banner">
	<div class="container">
		<div class="col-md-3 b-part1">
			<img src="../../Content/images/1.jpg" alt=" " />
			<h1>Rod Chen</h1>
			<h2>Web & C# Designer</h2>
		</div>
		<div class="col-md-3 b-part2">
			<h3>Contact</h3>
			<h4><a href="mailto:info@example.com">RodChen_king@outlook.com</a></h4>
			<h4 class="agile">187********</h4>
			<h4>ShangHai,China</h4>
		</div>
		<div class="col-md-3 b-part3">
			<h3>Follow</h3>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
		
		</div>
		<div class="col-md-3 b-part4">
			<h3>Visit</h3>
			<i class="fa fa-behance" aria-hidden="true"></i>
			<h4>Follow my behance portfolio</h4>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--//banner-->

<!--about-->
<div class="about">
	<div class="container">
		<h3>About Me</h3>
		<label class="line"></label>
        <img src="../../Content/images/1.jpg" />
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
		<p>As opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum.</p>
	</div>
</div>
<!--//about-->


<!--skills-->
<div class="skills">
	<div class="container">
		<h3>My Skills</h3>
		<label class="line"></label>
			<div class="col-md-6 skills-left">
				<h4>The standard chunk</h4>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				<p>As opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search of lorem ipsum</p> 	
			</div>
			<div class="col-md-6 skills-right">
				<div class="bar_group group_ident-1">
					<p class="b_label">HTML</p><div class="bar_group__bar thin" label="HTML" show_values="true" tooltip="true" value="300" style="margin-bottom: 40px; width: 60%;"><div class="b_tooltip"><span>300</span><div class="b_tooltip--tri"></div></div><p class="bar_label_min">300</p><p class="bar_label_max">475</p></div>
					<p class="b_label">Java Script</p><div class="bar_group__bar thin" label="Java Script" show_values="true" tooltip="true" value="400" style="margin-bottom: 40px; width: 80%;"><div class="b_tooltip"><span>400</span><div class="b_tooltip--tri"></div></div><p class="bar_label_min">400</p><p class="bar_label_max">475</p></div>
					<p class="b_label">C#</p><div class="bar_group__bar thin" label="PHP" show_values="true" tooltip="true" value="350" style="margin-bottom: 40px; width: 70%;"><div class="b_tooltip"><span>350</span><div class="b_tooltip--tri"></div></div><p class="bar_label_min">350</p><p class="bar_label_max">475</p></div>
				</div>
				<script src="js/bars.js"></script>
			</div>
			<div class="clearfix"></div>
			
	</div>
</div>
<!--/skills-->

<!-- download-->
<div class="download">
	<h3>Download my resume here</h3>
	<a href="#">Download</a>
</div>
<!-- //download -->

<!-- projects -->
<div class="projects">
	<div class="container">
		<div class="project-grids">
			<div class="cycle">
				<span> </span>
			</div>
			<div class="project-grid total-project">
				<p>79</p>
				<p>Projects</p>
				<span> <i class="p-icon"> </i></span>
			</div>
			<div class="project-grid clientsgrid">
				<div>
					<p>25</p>
					<p>Clients</p>
				</div>
				<span> <i class="p-icon"> </i></span>
			</div>
			<div class="project-grid people-grid">
				<div>
					<p>100%</p>
					<p>Satisfaction</p>
				</div>
				<span> <i class="p-icon"> </i></span>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //projects -->

<br />

<!--contact-->
<div class="contact">
	<div class="container">
		<h3>Contact</h3>
		<label class="line"></label>
		<div class="col-md-4 c-w3l">
			<i class="fa fa-map-marker" aria-hidden="true"></i>
			<h4>house no:pudongxiqu*************************</h4>
			<h4>Shanghai,China</h4>
		</div>
		<div class="col-md-4 c-w3l c-mail">
			<i class="fa fa-envelope" aria-hidden="true"></i>
			<h4><a href="mailto:info@example.com">rodchen_king@outlook.com</a></h4>
			<h4><a href="mailto:info@example.com">578136875@qq.com</a></h4>
		</div>
		<div class="col-md-4 c-w3l c-phn">
			<i class="fa fa-phone" aria-hidden="true"></i>
			<h4>+187*********</h4>
		</div>
		<div class="clearfix"></div>
		<form action="#" method="post">
			<input type="text" name="name" class="name" placeholder="Your Name" required="">
			<input type="text" name="email" class="email" placeholder="Your Email" required="">
			<textarea  name="your message" placeholder="Your Message"  required=""></textarea>
			<input type="submit" value="Send Message">
		</form>
	</div>
</div>
<!--//contact-->
