<script data-main="/Scripts/framework/main" src="/Scripts/lib/require.js"></script>
<main id="main" data-bind="template: { name: 'KnockoutIntroduction-html', data: require('KnockoutIntroduction-js').data, afterRender: require('KnockoutIntroduction-js').afterRender}"></main>