@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" data-bind="template: { name: page().name + '-html', data: page().data ,afterRender:afterRender}"></main>
<script data-main="/Scripts/framework/main" src="/Scripts/lib/require.js"></script>
